body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  pointer-events: none;
}

#header {
  position: relative;
  min-height: 80px;
}

#header-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#header-content h2 {
  margin: 0;
  color: #a0cfee;
  font-weight: 500;
  font-size: 1.75em;
}

#header-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: #113f67; 
}

#description {
  border-bottom: 1px solid #dcd9d9;
  display: flex;
  justify-content: center;
}

#description p {
  width: 100%;
  max-width: 1600px;
  text-align: center;
}

#one,
#two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-original,
.background-alt {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #dcd9d9;
}

.background-alt {
  background: #f2f2f5;
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;
}

.heading:after {
  position: absolute;
  content: '';
  top: 100%;
  height: 1px;
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #113f67; 
}

#image-container img {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.paragraph {
  text-align: left;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  line-height: 1.6;
  padding: 30px;
}

.paragraph h3 {
  margin: 20px auto;
  color: #676d6d;
}

.paragraph ul {
  padding-left: 20px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.paragraph ul li {
  text-align: left;
  line-height: 1.6;
}

footer {
  background: #113f67; 
  text-align: center;
  padding: 5px;
  color: white;
}

@media (max-width: 375px) {
  body {
    font-size: 12px;
  }
  #header {
    width: 100%;
  }
  #header-content {
    width: 90%;
    margin: 0 auto;
  }
  #header-content h2 {
    font-size: 1.3em;
  }
  .heading {
    font-size: 1.5em;
  }
  .paragraph {
    padding: 10px;
  }
  .paragraph h3 {
    font-size: 1em;
  }
  .paragraph ul {
    padding-left: 10px;
  }
  footer {
    font-size: 0.9em;
  }
  #image-container img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  #header {
    width: 100%;
  }
  #header-content {
    width: 90%;
    margin: 0 auto;
  }
  #header-content h2 {
    font-size: 1.5em;
  }
  .heading {
    font-size: 1.75em;
  }
  .paragraph {
    padding: 20px;
  }
  .paragraph h3 {
    font-size: 1.2em;
  }
  .paragraph ul {
    padding-left: 15px;
  }
  footer {
    font-size: 1em;
  }
  #image-container img {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
  #header {
    width: 100%;
  }
  #header-content {
    width: 90%;
    margin: 0 auto;
  }
  #header-content h2 {
    font-size: 1.65em;
  }
  .heading {
    font-size: 1.8em;
  }
  .paragraph {
    padding: 30px;
  }
  .paragraph h3 {
    font-size: 1.3em;
  }
  footer {
    font-size: 1.1em;
  }
  #image-container img {
    max-width: 95%;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 15px;
  }
  #header {
    width: 100%;
  }
  #header-content {
    width: 90%;
    margin: 0 auto;
  }
  #header-content h2 {
    font-size: 1.65em;
  }
  .heading {
    font-size: 1.9em;
  }
  .paragraph {
    padding: 30px;
  }
  .paragraph h3 {
    font-size: 1.4em;
  }
  footer {
    font-size: 1.1em;
  }
  #image-container img {
    max-width: 95%;
  }
}
