body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}
body.active {
  overflow: hidden;
  z-index: -1;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.75s;
}
header ul {
  display: inline-block;
  background: #fff;
  text-align: center;
  padding: 0px 10px;
  margin: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
header li {
  display: inline-block;
}
header a {
  display: block;
  color: #3498db;
  padding: 10px;
}
header a:hover {
  color: #217dbb;
  text-decoration: none;
  background: #eee;
  border-radius: 4px;
}
header a:focus {
  color: #3498db;
  text-decoration: none;
}
header.active {
  display: block;
}
header.sticky {
  position: fixed;
  z-index: 999;
}
#menu.active {
  display: block;
}
#mobile-menu-open {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 10px;
  color: #3498db;
  font-size: 1.5em;
  z-index: 20;
  padding: 0 7px;
  border-radius: 4px;
  background: #fff;
}
#mobile-menu-close {
  display: none;
  text-align: right;
  width: 100%;
  background: #fff;
  font-size: 1.5em;
  padding-right: 15px;
  padding-top: 10px;
  cursor: pointer;
  color: #3498db;
}
#mobile-menu-close span {
  font-size: 0.5em;
  text-transform: uppercase;
}
#mobile-menu-close i {
  vertical-align: middle;
}
footer {
  background: #3498db;
}
.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;
}
.heading:after {
  position: absolute;
  content: '';
  top: 100%;
  height: 1px;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #3498db;
}
.background-alt {
  background: #f2f2f5;
}

#lead {
  position: relative;
  min-height: 500px;
  max-height: 1200px;
  background: url(../images/lead-bg.jpg);
  background-size: cover;
  overflow: hidden;
}

#lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#lead-content h1,
#lead-content h2 {
  margin: 0;
}
#lead-content h1 {
  color: #fff;
  font-weight: 900;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.9em;
}
#lead-content h2 {
  color: #a0cfee;
  font-weight: 500;
  font-size: 2.25em;
  margin-bottom: 15px;
}

#lead-content .text-column {
  color:white;  
}
#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #208bd3;
  z-index: 1;
}
#skills {
  padding: 25px 15px;
  text-align: center;
}
#experience {
  padding: 25px 15px;
  text-align: center;
  border-bottom: 1px solid #dcd9d9;
}
#experience h2 {
  color: #374054;
}
#experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px;
}
#experience-timeline:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 303px;
  right: auto;
  height: 100%;
  width: 3px;
  background: #3498db;
  z-index: 0;
}
#experience-timeline:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 40px;
  background: #3498db;
  background: linear-gradient(to bottom, #3498db, rgba(52, 152, 219, 0));
  top: 100%;
  left: 303px;
}
.bold-letters {
  color: #000000; 
  font-weight: bold;
}
#education {
  padding: 25px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;
}
#education h2 {
  color: #374054;
  margin-bottom: 50px;
}
.education-block {
  max-width: 700px;
  margin: 0 auto 15px auto;
  padding: 8px 15px 0px 15px;
  border: 1px solid #dcd9d9;
  text-align: left;
}
.education-block h3 {
  font-weight: 500;
  float: left;
  margin: 0;
  color: #374054;
}
.education-block span {
  color: #74808a;
  float: right;
}
.education-block h4 {
  color: #74808a;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0;
}
.education-block p,
.education-block ul {
  margin: 0;
  color: #74808a;
  font-size: 0.9em;
}
.education-block ul {
  padding: 0 0 0 15px;
}
#projects {
  padding: 25px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;
}
#projects h2 {
  color: #374054;
  margin-bottom: 50px;
}
.project {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
}
.project-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 300px;
  padding: 15px;
}
.project-info h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #374054;
  margin: 0 0 15px 0;
}
.project-info p {
  color: #74808a;
  margin: 0 0 15px 0;
  font-size: 0.9em;
}
.no-image .project-info {
  position: relative;
  margin: 0;
  padding: 30px 15px;
  transform: none;
}
@media only screen and (max-width: 750px) {
  #experience-timeline:before,
  #experience-timeline:after {
    left: 23px;
  }
} 
@media only screen and (max-width: 992px) {
  #lead {
    height: auto;
    min-height: auto;
    max-height: auto;
    padding: 100px 15px;
  }
  #lead-content {
    position: relative;
    transform: none;
    left: auto;
    top: auto;
  }
  #lead-content h1 {
    font-size: 3em;
  }
  #lead-content h2 {
    font-size: 1.75em;
  }
  #skills {
    text-align: center;
  }
  #skills p {
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    display: none;
    z-index: 999;
    animation: none;
    bottom: 0;
    height: 100%;
  }
  #mobile-menu-open,
  #mobile-menu-close {
    display: block;
  }
  #menu {
    height: 100%;
    overflow-y: auto;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
  }
  #menu li {
    display: block;
    margin-bottom: 10px;
  }
  #lead-content h1 {
    font-size: 2em;
  }
  #lead-content h2 {
    font-size: 1.3em;
  }
  #lead-content a {
    padding: 10px 20px;
  }
  #lead-down {
    display: none;
  }
  .projects-block h3,
  .projects-block span {
    float: none;
  }
  .project-image {
    display: none;
  }
  .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    top: auto;
    transform: none;
  }
  footer {
    text-align: center;
  }
  .social {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  #lead-content h1 {
    font-size: 1.5em;
  }
  #lead-content h2 {
    font-size: 1em;
  }
  #lead-content a {
    font-size: 0.9em;
    padding: 5px 10px;
  }
}

/* New */
.contactme-row {
  display: flex;
  gap: 20px;
}
.contactme-row a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactme-row img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
}
.contactme-row a:hover img {
  opacity: 1;
}
#skills {
  text-align: center; 
}
.row {
  display: flex;
  justify-content: center;
  gap: 30px; 
  flex-wrap: wrap;
}
.skills-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; 
  margin-bottom: 10px; 
}
.skills-list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
.skills-list li {
  margin-right: 15px; 
}
.skills-row h3 {
  margin-right: 15px; 
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 10px 20px;
}
.text-column {
  flex: 0 0 80%;
  padding-right: 20px;
  text-align: left;
}
.image-column {
  flex: 0 0 20%;
}
.image-column img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.job-block {
  flex: 0 0 80%;
  max-width: 1200px;
  margin: 0 auto 15px auto;
  padding: 15px 30px 0 20px;
  border: 1px solid #dcd9d9;
  text-align: left;
  background-color: white;
  color: #676d6d;
  font-size: 1em;
} 
.company-name {
  display: flex;
  align-items: center; 
  gap: 10; 
  margin: -20px 0px;
}
.company-name img {
  width: 35px; 
  height: auto;
  margin-right: 10px;
}
.job-skills {
  text-align: center;
}
.job-skills ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
}
.job-skills li {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: #374054;
  background: #e4e4ea;
  list-style: none;
  cursor: default;
  font-size: 1em;
}
.job-title-and-date {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%; 
}
.job-title {
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.date {
  font-family: Arial, sans-serif; 
  font-size: 15px;
  color: gray;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.tile {
  width: calc(33.33% - 20px);
  min-width: 250px; 
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .tile {
    width: 100%;
  }
}

.logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
}
.logo img {
  max-width: 100%;
  height: auto;
}
.content {
  width: 90%;
  padding: 10px;
}
.content h3 {
  margin: 0 0 5px;
  font-size: 18px;
}
.content p {
  margin: 0;
  font-size: 14px;
  color: #666;
}
.tile:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
